<div class="container py-5">
    <div class="row pt-5 text-center">
        <div id="searchthis" class="col-12 d-flex justify-content-center align-items-center" style="gap: 10px;">
            <div style="position: relative; width: 40%;">
                <i class="bi bi-search"
                    style="position: absolute; top: 50%; left: 12px; transform: translateY(-50%); color: #aaa;"></i>
                <input id="namanyay-search-box" name="q" type="text" placeholder="Search"
                    class="form-control ps-5 rounded-pill" />
            </div>
            <button id="namanyay-search-btn" class="btn btn-primary rounded-pill">
                Search
            </button>
        </div>
    </div>

    <div class="row pt-1">

        <div class="col-md-3 bg-white shadow-sm p-3 rounded v-100">

            <div class="row">
                <div class="col-12">
                    Price: ${{minSlider}} – ${{maxSlider}}+
                </div>
          
                <mat-slider class="col-12 custom-slider" min="0" max="10000">
                    <input value="0" matSliderStartThumb [(ngModel)]="minSlider">
                    <input value="10000" matSliderEndThumb [(ngModel)]="maxSlider">
                </mat-slider>

            </div>

            <section class="example-section">



                <span class="example-list-section">
                    <ul class="list-unstyled ms-3">
                        @for (subtask of task.subtasks; track subtask) {
                        <li>
                            <mat-checkbox [(ngModel)]="subtask.completed" [color]="subtask.color"
                                (ngModelChange)="updateAllComplete()">
                                {{subtask.name}}
                            </mat-checkbox>
                        </li>
                        }
                    </ul>
                </span>
            </section>
            <hr>
        </div>

        <div class="col-md-9">

            <div class="row">
                <div class="card mb-3 shadow-sm">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://m.media-amazon.com/images/I/71UnL+fUeWL._AC_UY218_.jpg"
                                class="img-fluid rounded-start" alt="article">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">SteelSeries Apex 3 TKL RGB Gaming Keyboard</h5>
                                <p class="card-text small text-muted">
                                    Tenkeyless Compact Form Factor · 8-Zone RGB Illumination · IP32 Water & Dust
                                    Resistant ·
                                    Whisper Quiet Gaming Switches
                                </p>
                                <p class="card-text text-success small">1K+ bought in past month</p>
                                <h4 class="text-primary fw-bold">PRICE : $34.99</h4>
                                <button
                                    class="btn btn-warning rounded-pill mt-3 d-flex align-items-center justify-content-center gap-2">
                                    <i class="bi bi-cart-plus-fill"></i> Add to Cart
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card mb-3 shadow-sm">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://m.media-amazon.com/images/I/71UnL+fUeWL._AC_UY218_.jpg"
                                class="img-fluid rounded-start" alt="article">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">SteelSeries Apex 3 TKL RGB Gaming Keyboard</h5>
                                <p class="card-text small text-muted">
                                    Tenkeyless Compact Form Factor · 8-Zone RGB Illumination · IP32 Water & Dust
                                    Resistant ·
                                    Whisper Quiet Gaming Switches
                                </p>
                                <p class="card-text text-success small">1K+ bought in past month</p>
                                <h4 class="text-primary fw-bold">PRICE : $34.99</h4>
                                <button
                                    class="btn btn-warning rounded-pill mt-3 d-flex align-items-center justify-content-center gap-2">
                                    <i class="bi bi-cart-plus-fill"></i> Add to Cart
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card mb-3 shadow-sm">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://m.media-amazon.com/images/I/71UnL+fUeWL._AC_UY218_.jpg"
                                class="img-fluid rounded-start" alt="article">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">SteelSeries Apex 3 TKL RGB Gaming Keyboard</h5>
                                <p class="card-text small text-muted">
                                    Tenkeyless Compact Form Factor · 8-Zone RGB Illumination · IP32 Water & Dust
                                    Resistant ·
                                    Whisper Quiet Gaming Switches
                                </p>
                                <p class="card-text text-success small">1K+ bought in past month</p>
                                <h4 class="text-primary fw-bold">PRICE : $34.99</h4>
                                <button
                                    class="btn btn-warning rounded-pill mt-3 d-flex align-items-center justify-content-center gap-2">
                                    <i class="bi bi-cart-plus-fill"></i> Add to Cart
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>



</div>