<!-- Start Breadcrumbs -->
<app-breadcrumbs title="People" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div id="instructorList">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center g-2">
            <div class="col-lg-3 me-auto">
              <h6 class="card-title mb-0">Contacts List <span class="badge bg-primary ms-1 align-baseline">{{
                  contactList?.length }}</span></h6>
            </div><!--end col-->
            <div class="col-xl-2 col-lg-3 col-sm-5">
              <div class="search-box">
                <input type="text" class="form-control search" placeholder="Search for contacts ..." [(ngModel)]="term"
                  (keyup)="filterdata()">
                <i class="ri-search-line search-icon"></i>
              </div>
            </div><!--end col-->
            <div class="col-sm-auto">
              <div class="hstack gap-2">
                <button class="btn btn-subtle-danger d-none" id="remove-actions" (click)="deleteRecordModal.show()"><i
                    class="ri-delete-bin-2-line"></i></button>
                <a href="javascript:void(0);" (click)="openAddModal()" class="btn btn-secondary"><i
                    class="bi bi-plus-circle align-baseline me-1"></i> Add
                  Person</a>
              </div>
            </div><!--end col-->
          </div>
        </div>
        <div class="card-body mt-3">
          <div class="table-responsive table-card">
            <table class="table table-centered align-middle table-custom-effect table-nowrap mb-0">
              <thead class="table-light">
                <tr>
                  <!--<th>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="option"
                            [(ngModel)]="masterSelected" (change)="checkUncheckAll($event)"
                            id="checkAll">
                        <label class="form-check-label" for="checkAll"></label>
                    </div>
                </th>
                <th scope="col" class="sort cursor-pointer" (click)="onSort('id')">ID</th> -->
                  <th scope="col" class="sort cursor-pointer" (click)="onSort('name')">Name</th>
                  <th scope="col" class="sort cursor-pointer" (click)="onSort('email')">Email</th>
                  <th scope="col" class="sort cursor-pointer" (click)="onSort('experience')">Cases
                  </th>
                  <th scope="col" class="sort cursor-pointer" (click)="onSort('contact')">contact</th>
                  <th scope="col" class="sort cursor-pointer" (click)="onSort('contact')">Group</th>
                  <th scope="col" class="sort cursor-pointer" (click)="onSort('status')">Added</th>
                  <th scope="col">Action</th>

                  <!--<th scope="col">Action</th> -->
                </tr>
              </thead>
              <tbody class="list form-check-all">
                @for (data of contacts; track $index) {
                <tr>
                  <!--   <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="checkAll"
                                value="{{data.id}}" [(ngModel)]="data.state"
                                (change)="onCheckboxChange($event)">
                            <label class="form-check-label"></label>
                        </div>
                    </td>

                    <td class="instructor_id"><a routerLink="/learning/instructors-overview"
                            class="fw-medium link-primary">#TBSI1590{{data.id}}</a></td>  -->
                  <td class="instructor">
                    <div class="d-flex gap-2 align-items-center">
                      <div class="flex-shrink-0">
                        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt=""
                          class="avatar-xxs rounded-circle">
                      </div>
                      <div class="flex-grow-1">
                        <a routerLink="/learning/instructors-overview" class="text-reset">{{ data.middleName }}. {{
                          data.firstName }} {{ data.lastName }}</a>
                      </div>
                    </div>
                  </td>
                  <td> {{ data.email }}</td>

                  <td class="experience"> 
                    @if (data.cases.length==0) {No cases}
                    @if (data.cases.length!==0) {
                    <ul class="list-unstyled mb-0">
                      <li *ngFor="let item of data.cases">
                        <a routerLink="/cases/details/{{item.id}}" class="text-reset hoverable">{{ item.title }}</a>
                      </li>
                    </ul>
                    }
                  </td>

                  <td class="students">{{ data.phoneNumber }}</td>

                  <td class="contact">{{ data.peopleGroup.name }}</td>

                  <td class="contact">{{ data.createdAt | date:'dd MMM, yyyy' }}</td>


                  <!-- <td class="status"><span class="badge" [ngClass]="{'bg-success-subtle text-success':data.status == 'Active','bg-danger-subtle text-danger':data.status == 'Unactive'}">{{data.status}}</span>
                    </td>
                     -->


                  <td>
                    <ul class="d-flex gap-2 list-unstyled mb-0">
                      <li>
                        <a routerLink="/contacts/details/{{data.id}}" class="btn btn-subtle-primary btn-icon btn-sm "><i
                            class="ph-eye"></i></a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" (click)="openEditModal(data)"
                          class="btn btn-subtle-secondary btn-icon btn-sm edit-item-btn"><i class="ph-pencil"></i></a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" (click)="removeItem(data.id)"
                          class="btn btn-subtle-danger btn-icon btn-sm remove-item-btn"><i class="ph-trash"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
                }

              </tbody><!-- end tbody -->
            </table><!-- end table -->

            <div id="elmLoader">
              <div class="spinner-border text-primary avatar-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>

            <div class="noresult" [ngClass]="(contacts?.length != 0)?'d-none':''">
              <div class="text-center py-4">
                <i class="ph-magnifying-glass fs-1 text-primary"></i>
                <h5 class="mt-2">Sorry! No Result Found</h5>
                <p class="text-muted mb-0">We've searched more than 164+ contacts We did not find any
                  contacts for you search.</p>
              </div>
            </div>
          </div>
          <div [ngClass]="(contacts?.length == 0)?'d-none':''" class="row align-items-center mt-4 pt-3"
            id="pagination-element">
            <div class="col-sm">
              <div class="text-muted text-center text-sm-start">
                Showing <span class="fw-semibold">{{ contacts?.length }}</span> of <span class="fw-semibold">{{
                  contactList?.length }}</span>
                Results
              </div>
            </div><!--end col-->
            <div class="col-sm-auto mt-3 mt-sm-0">
              <pagination class="pagination-wrap hstack justify-content-center gap-2" [totalItems]="contactList?.length"
                [itemsPerPage]="10" (pageChanged)="pageChanged($event)"></pagination>
            </div><!--end col-->
          </div><!--end row-->
        </div>
      </div>
    </div><!--end col-->
  </div><!--end row-->

</div>

<!-- Modal -->
<div bsModal #addContact="bs-modal" class="modal fade modal-lg" id="addContact">
  <div class="modal-dialog">
    <div class="modal-content border-0">
      <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="addContactModalLabel">{{ action }} Person</h5>
        <button type="button" class="btn-close" (click)="addContact.hide()"></button>
      </div>

      <form (ngSubmit)="saveContact()" [formGroup]="ContactForm" class="tablelist-form" novalidate autocomplete="off">
        <div class="modal-body">
          <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>
          <input type="hidden" id="id-field">
          <input type="hidden" id="rating-field">
          <div class="row">
            <div>
              <div class="row">

                <label class="form-label" for="steparrow-gen-info-username-input">Name <span class="text-danger">
                    *</span></label>

                <div class="col-lg-3">
                  <div class="mb-3">
                    <input type="text" class="form-control" id="steparrow-gen-info-case-number-input" placeholder="M"
                      [ngClass]="{'border-danger': formValue['middleName'].errors && formValue['middleName'].dirty,'form-control': true}"
                      formControlName="middleName" placeholder="Middle Name">
                    @if (formValue['middleName'].errors && formValue['middleName'].dirty) {

                    @if (formValue['middleName'].errors!['required']) {
                    <span class="text-danger col-12">Middle name is required</span>
                    }
                    }
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="mb-3">
                    <input type="text" class="form-control" id="steparrow-gen-info-username-input2"
                      [ngClass]="{'border-danger': formValue['firstName'].errors && formValue['firstName'].dirty,'form-control': true}"
                      formControlName="firstName" placeholder="First Name">
                    @if (formValue['firstName'].errors && formValue['firstName'].dirty) {

                    @if (formValue['firstName'].errors!['required']) {
                    <span class="text-danger col-12">First name is required</span>
                    }

                    @if (formValue['firstName'].errors!['minlength']) {
                    <span class="text-danger col-12">First name must contain at least 3
                      characters</span>
                    }
                    }
                  </div>
                </div>

                <div class="col-lg-5">
                  <div class="mb-3">
                    <input type="text" class="form-control" id="steparrow-gen-info-case-number-input"
                      placeholder="Last Name"
                      [ngClass]="{'border-danger': formValue['lastName'].errors && formValue['lastName'].dirty,'form-control': true}"
                      formControlName="lastName">
                    @if (formValue['lastName'].errors && formValue['lastName'].dirty) {

                    @if (formValue['lastName'].errors!['required']) {
                    <span class="text-danger col-12">Last name is required</span>
                    }

                    @if (formValue['lastName'].errors!['minlength']) {
                    <span class="text-danger col-12">Last name must contain at least 3
                      characters</span>
                    }

                    }
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label" for="steparrow-gen-info-confirm-birthday-input">Birthday</label>

                <input type="date" class="form-control" id="steparrow-gen-info-confirm-birthday-input" mwlFlatpickr
                  [altInput]="true" altFormat="Y/m/d" dateFormat="Y/m/d"
                  [ngClass]="{'border-danger': formValue['birthday'].errors && formValue['birthday'].dirty, 'form-control': true}"
                  formControlName="birthday" placeholder="Enter birthday">

                @if (formValue['birthday'].errors && formValue['birthday'].dirty) {
                @if (formValue['birthday'].errors!['required']) {
                <span class="text-danger col-12">Birthday is required</span>
                }
                }

              </div>

              <div class="mb-3">
                <label class="form-label" for="steparrow-gen-info-username-input">Email <span class="text-danger">
                    *</span></label>
                <div class="mb-3">
                  <input type="email" class="form-control" id="steparrow-gen-info-username-input"
                    placeholder="example@email.com"
                    [ngClass]="{'border-danger': formValue['email'].errors && formValue['email'].dirty,'form-control': true}"
                    formControlName="email">
                  @if (formValue['email'].errors && formValue['email'].dirty) {

                  @if (formValue['email'].errors!['required']) {
                  <span class="text-danger col-12">Email is required</span>
                  }

                  @if (formValue['email'].errors!['email']) {
                  <span class="text-danger col-12">wrong email format</span>
                  }
                  }
                </div>

              </div>

              <div class="mb-3">
                <label class="form-label">People Group</label>
                <ng-select [items]="Default" bindLabel="name" [clearable]="false"
                  [ngClass]="{'border border-danger': formValue['peopleGroup'].errors && formValue['peopleGroup'].dirty}"
                  formControlName="peopleGroup" placeholder="Select Group">
                  <ng-template ng-optgroup-tmp let-item="item">
                    {{ item.country || 'Unnamed group' }}
                  </ng-template>
                </ng-select>

                @if (formValue['peopleGroup'].errors && formValue['peopleGroup'].dirty) {
                @if (formValue['peopleGroup'].errors!['required']) {
                <span class="text-danger col-12">please select a group</span>
                }
                }
              </div>

              <div class="mb-3">
                <label class="form-label" for="steparrow-gen-info-phone-input">Phone number <span class="text-danger">
                    *</span></label>
                <div class="mb-3">
                  <input type="number" class="form-control" id="steparrow-gen-info-phone-input"
                    [ngClass]="{'border-danger': formValue['phoneNumber'].errors && formValue['phoneNumber'].dirty,'form-control': true}"
                    formControlName="phoneNumber" id="contact-input" placeholder="(+216) xx xxx xxx">
                  @if (formValue['phoneNumber'].errors && formValue['phoneNumber'].dirty) {

                  @if (formValue['phoneNumber'].errors!['required']) {
                  <span class="text-danger col-12">Phone number is required</span>
                  }

                  @if (formValue['phoneNumber'].errors!['pattern']) {
                  <span class="text-danger col-12">Phone number must contain 8 numbers</span>
                  }

                  }
                </div>

              </div>

              <div class="mb-3">
                <label class="form-label" for="steparrow-gen-info-address-input">Address <span class="text-danger">
                    *</span></label>
                <div class="mb-3">
                  <input type="text" class="form-control" id="steparrow-gen-info-address-input" placeholder="Address"
                    [ngClass]="{'border-danger': formValue['address'].errors && formValue['address'].dirty,'form-control': true}"
                    formControlName="address">
                  @if (formValue['address'].errors && formValue['address'].dirty) {
                  @if (formValue['address'].errors!['required']) {
                  <span class="text-danger col-12">Address is required</span>
                  }
                  }

                </div>


              </div>

              <div class="row">

                <label class="form-label" for="steparrow-gen-info-username-input">City, State, Zip
                  Code</label>
                <div class="col-lg-5">
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="City"
                      [ngClass]="{'border-danger': formValue['city'].errors && formValue['city'].dirty,'form-control': true}"
                      formControlName="city">

                    @if (formValue['city'].errors && formValue['city'].dirty) {
                    @if (formValue['city'].errors!['required']) {
                    <span class="text-danger col-12">City is required</span>
                    }
                    }
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="State"
                      [ngClass]="{'border-danger': formValue['state'].errors && formValue['state'].dirty,'form-control': true}"
                      formControlName="state">
                  </div>
                  @if (formValue['state'].errors && formValue['state'].dirty) {

                  @if (formValue['state'].errors!['required']) {
                  <span class="text-danger col-12">State is required</span>
                  }
                  }
                </div>

                <div class="col-lg-3">
                  <div class="mb-3">
                    <input type="number" class="form-control" placeholder="Zip Code"
                      [ngClass]="{'border-danger': formValue['zipCode'].errors && formValue['zipCode'].dirty,'form-control': true}"
                      formControlName="zipCode">
                  </div>

                  @if (formValue['zipCode'].errors && formValue['zipCode'].dirty) {

                  @if (formValue['zipCode'].errors!['required']) {
                  <span class="text-danger col-12">Zip code is required</span>
                  }
                  }
                </div>
              </div>

            </div>
          </div><!--end row-->
        </div>
        <div class="modal-footer">
          <div class="hstack gap-2 justify-content-end">
            <button type="button" class="btn btn-ghost-danger" (click)="addContact.hide()"><i
                class="bi bi-x-lg align-baseline me-1"></i> Close
            </button>
            <button type="submit" class="btn btn-primary" id="add-btn">{{ action }} Person</button>
          </div>
        </div>
      </form>
    </div>
    <!-- modal-content -->
  </div>
</div><!--end modal-->

<!-- deleteRecordModal -->
<div bsModal #deleteRecordModal="bs-modal" id="deleteRecordModal" class="modal fade zoomIn">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" id="deleteRecord-close" (click)="deleteRecordModal.hide()"></button>
      </div>
      <div class="modal-body p-md-5">
        <div class="text-center">
          <div class="text-danger">
            <i class="bi bi-trash display-5"></i>
          </div>
          <div class="mt-4">
            <h4 class="mb-2">Are you sure ?</h4>
            <p class="text-muted mx-3 mb-0">Are you sure you want to remove this record ?</p>
          </div>
        </div>
        <div class="d-flex gap-2 justify-content-center mt-4 pt-2 mb-2">
          <button type="button" class="btn w-sm btn-light btn-hover" (click)="deleteRecordModal.hide()">Close
          </button>
          <button type="button" class="btn w-sm btn-danger btn-hover" id="delete-record"
            (click)="confirmDelete(deleteID)">Yes, Delete
            It!
          </button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /deleteRecordModal -->