<header class="header">
  <nav class="nav">
    <div class="logo">FORMA</div>
    <ul class="nav-links">
      <li><a href="javascript:void;" routerLink="/client">Home</a></li>
      <li><a href="javascript:void;" routerLink="articles">Furniture</a></li>
      <li><a href="javascript:void;" routerLink="about">About</a></li>
    </ul>
    <div class="nav-actions">

      <div class="nav-icon">
        <svg class="nav-icon" routerLink="profile" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
            d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
        </svg>
      </div>

      <div class="nav-icon" routerLink="favorites">
        <svg class="nav-icon active" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
            d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z">
          </path>
        </svg>
        <span class="cart-badge bg-danger">{{ favoriteItemCount }}</span>
      </div>

      <div class="nav-icon" routerLink="basket">
        <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
            d="M3 3h2l.4 2M7 13h10l4-8H5.4m1.6 8L5 3H3m4 10v6a1 1 0 001 1h6a1 1 0 001-1v-6m-5 3h2"></path>
        </svg>
        <span class="cart-badge">{{ cartItemCount }}</span>
      </div>
    </div>
  </nav>
</header>