<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Overview" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="card">
  @if (loading) {
  <div id="case-preloader" class="d-flex justify-content-center align-items-center py-5">
    <div id="case-status-loader">
      <div class="spinner-border text-primary avatar-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <p class="mt-2 text-primary">Loading case details, please wait...</p>
    </div>
  </div>
  } @else {
  <div class="row g-0">

    <div class="col-xl-3 col-lg-4 border-end">
      <div class="card-body mt-2">
        <a href="javascript:void(0);" class="float-end link-effect">View Client <i
            class="bi bi-arrow-right align-baseline ms-1"></i></a>
        <h6 class="card-title mb-0">Contact Info</h6>
      </div>
      <div class="card-body">


        @for (client of selectedCase?.contacts; track $index) {

        @if (client.peopleGroup?.name === 'CLIENT') {

        <div class="d-flex gap-2 align-items-center mb-3">
          <div class="flex-shrink-0">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK8ffDsJ4jPCqnGI6CmuPG9MHW22ophfZauvpt6qO5qnJz6oKjsySCrmqgrEZLk30ufKs&usqp=CAU"
              alt="" class="avatar-sm rounded">
          </div>

          <div class="flex-grow-1">
            <h6 class="fs-md">{{ client.firstName }} {{ client.middleName }} {{ client.lastName }}</h6>
            <p class="text-muted mb-0">Client</p>
          </div>

        </div>
        }

        }
        <!-- <button class="btn btn-secondary w-100" id="agent-chat"><i
                    class="bi bi-chat-text align-baseline me-1"></i> Get In Touch</button> -->
      </div>

      <div class="card-body border-top mt-2">
        <div class="table-responsive table-card">
          <table class="table table-borderless align-middle mb-0">
            <tbody>
              <!-- <tr>
                  <th>Ticket No</th>
                  <td>#TBS<span id="t-no">24301901</span> </td>
              </tr> -->
              <tr>
                <th>Practice Area:
                </th>
                <td id="t-client">Not Specified
                </td>
              </tr>

              <tr>
                <th>Case Type:</th>
                <td>{{ selectedCase.type }}</td>
              </tr>

              <tr>
                <th>Case Stage:</th>
                <td>{{selectedCase.currentPhase?.name}}
                </td>
              </tr>

              <tr>
                <th>Lead Attorney:</th>
                <td>
                  <a routerLink="redirect to lawyer profile .... todo {{selectedCase.lawyer.id}}">
                    {{ selectedCase.lawyer.firstName }} {{ selectedCase.lawyer.middleName }} {{
                    selectedCase.lawyer.lastName
                    }}
                  </a>
                </td>
              </tr>

              <tr>
                <th>Agents:</th>
                <td>
                  <div class="avatar-group">
                    @for (agent of selectedCase.agents; track $index) {

                    <a href="javascript:void(0);" class="avatar-group-item" placement="top"
                      tooltip="{{agent.firstName}} {{agent.lastName}}">
                      <img class="rounded-circle avatar-xs" src="http://localhost:8080/api/agent/download/{{agent.id}}"
                        alt="">
                    </a>

                    }


                    <a href="javascript: void(0);" class="avatar-group-item" placement="top" tooltip="Add Members">
                      <div class="avatar-xs">
                        <div class="avatar-title fs-16 rounded-circle bg-light border-dashed border text-primary">
                          +
                        </div>
                      </div>
                    </a>
                  </div>
                </td>
              </tr>

              <tr>
                <th>Status:</th>
                <td>
                  <select class="form-select" id="t-status" data-choices data-choices-search-false
                    aria-label="Default select example" [(ngModel)]="selectedStatus" (change)="changeStatus()">
                    <option value="OPENED">Opened</option>
                    <option value="CLOSED">Closed</option>
                  </select>
                </td>
              </tr>

              <tr>
                <th>Create Date</th>
                <td id="c-date">{{ selectedCase.createdAt | date }}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div><!--end card-body-->

    </div>


    <div class="col-xl-9 col-lg-8">

      <div class="card-body h-100">
        <div class="row mb-1 pb-2 g-3">
          <div class="col-auto">
            <div class="avatar-sm">
              <div class="avatar-title bg-success-subtle rounded">
                <img src="https://cdn-icons-png.flaticon.com/512/196/196754.png" alt="" class="avatar-xs">
              </div>
            </div>
          </div>
          <div class="col-md order-3 order-md-2">
            <div>
              <h5>#CN{{ selectedCase.number }} - {{ selectedCase.title }}</h5>
              <div class="hstack gap-2 gap-md-3 flex-wrap">
                <div class="text-muted">Opened Date :
                  <span class="fw-medium " id="create-date">{{ selectedCase.createdAt | date }}</span>
                </div>
                <div class="vr"></div>
                <div class="text-muted">Create Date :
                  <span class="fw-medium " id="create-date">{{ selectedCase.createdAt | date }}</span>
                </div>

                <div class="vr"></div>

                <div id="case-status" class="badge rounded-pill fs-12"
                  [ngClass]="{'bg-info' : selectedCase.status =='OPENED' , 'bg-danger' : selectedCase.status =='CLOSED'}">
                  {{ selectedCase.status }}
                </div>

              </div>
            </div>
          </div>

          <!--<div class="col-auto ms-auto order-2 order-md-3">
                  <a routerLink="/tickets/list" class="btn btn-primary btn-sm"> Add Ticket</a>
              </div> -->

        </div>


        <div class="card-body">
          <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0 mx-0" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" data-bs-toggle="tab" href="javascript:void(0);"
                [class.active]="currentTab === 'description'" (click)="changeTab('description')" role="tab"
                aria-selected="true">
                Description
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="javascript:void(0);"
                [class.active]="currentTab === 'phases'" (click)="changeTab('phases')" role="tab" aria-selected="false"
                tabindex="-1">
                Phases
              </a>
            </li>

            <li class="nav-item" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="javascript:void(0);"
                [class.active]="currentTab === 'invoices'" (click)="changeTab('invoices')" role="tab"
                aria-selected="false" tabindex="-1">
                Invoices
              </a>
            </li>
          </ul>

        </div><!--end card-->


        <div class="tab-content mt-4">

          <div [hidden]="currentTab !== 'description'" class="tab-pane active" id="description" role="tabpanel">

            <div class="row">

              <div class="col-lg-8 col-12 card custom-card border-end">
                <div class="card-body">
                  <h5 class="card-title mb-4">Case Informations</h5>

                  <div class="row p-4 ">
                    <div class="col-2">
                      <div class="row fw-bold mb-3">
                        Name
                      </div>
                      <div class="row fw-bold mb-3">
                        Case Number
                      </div>
                      <div class="row fw-bold mb-3">
                        Current Phase
                      </div>
                      <div class="row fw-bold mb-3">
                        Description
                      </div>
                    </div>

                    <div class="col-4">

                      <div class="row mb-3">
                        {{ selectedCase.title }}
                      </div>
                      <div class="row mb-3">
                        #CN{{ selectedCase.number }}
                      </div>
                      <div class="row mb-3">
                        {{ selectedCase.currentPhase?.name}}
                      </div>
                      <div class="row mb-3">
                        {{ selectedCase.description }}
                      </div>
                    </div>
                    <div class="col-2 border-start">
                      <div class="row fw-bold mb-3 ms-2">
                        Date Opened
                      </div>
                      <div class="row fw-bold mb-3 ms-2">
                        Date Closed
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="row mb-3 ms-2">
                        {{ selectedCase.createdAt | date }}
                      </div>
                      <div class="row mb-3">
                        {{ selectedCase.closedAt | date }}
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-12">
                @if (selectedCase.status == "CLOSED") {
                  <span class="h5 col-auto "> Status (Closed)</span>
                } @else {
                  <span class="h5 col-auto "> Status (Opened)</span>
                }
                <div class="d-flex gap-2">
                  <div class="flex-grow-1">
                    <p class="text-muted mb-2 mt-1">Created {{selectedCase.createdAt | date : 'dd/MM/yyyy, hh:mm a'}} by <a
                        routerLink="">
                        {{ selectedCase.lawyer.firstName }} {{ selectedCase.lawyer.middleName }}
                        {{ selectedCase.lawyer.lastName }} </a></p>
                  </div>
                </div>



                <!-- Tasks list -->

                <div class="box-shadow">
                  <h6 class="card-title mb-2 mt-3">Tasks (Next 30 days)
                  </h6>

                  <!-- number of tasks and how many completed-->
                  <div class="row mt-2 border-bottom pb-2">
                    <div class="col-auto me-auto">
                      <span class="h4 mb-0"> {{tasksPassed.length + tasksNotPassed.length}} </span> <span
                        class="text-muted">Tasks</span>
                    </div>
                    <div class="col-auto">
                      <span class="h4 mb-0"> {{tasksPassed.length}} </span> <span
                        class="text-muted mb-0">Completed</span>
                    </div>
                  </div>

                  <!-- Overdue -->
                  <div class="row mt-3">
                    <div class="col-auto">
                      <span class="text-danger"> <b>Overdue</b></span>
                    </div>
                  </div>

                  @for (task of tasksPassed; track $index) {
                  <div class="row mt-2 mb-1">
                    <div class="col-auto me-auto">
                      <span> {{task?.name}} </span>
                    </div>
                    <div class="col-auto">
                      <span class="text-muted mb-0"> {{task.dueDate | date}} </span>
                    </div>
                  </div>
                  }

                  <!-- upcoming tasks -->

                  <div class="row mt-3">
                    <div class="col-auto">
                      <span class="text-success"><b>Upcoming</b></span>
                    </div>
                  </div>

                  @for (task of tasksNotPassed; track $index) {
                  <div class="row mt-2 mb-1">
                    <div class="col-auto me-auto">
                      <span> {{task?.name}} </span>
                    </div>
                    <div class="col-auto">
                      <span class="text-muted mb-0"> {{task.dueDate | date}} </span>
                    </div>
                  </div>
                  }

                </div>

                <!-- <div class="row text-center mt-3">
                  <a routerLink="">Show more</a>
                </div> -->

              </div>

            </div>

          </div>


          <div [hidden]="currentTab !== 'phases'" class="tab-pane active" id="phases" role="tabpanel">

            <div class="row align-items-center mb-4 g-3">

              <div class="col-xxl-2 col-lg-4 col-sm-6 ms-2 me-auto">
                <h5 class="mb-0">Phases <span
                    class="badge bg-secondary-subtle text-secondary align-middle ms-1">{{selectedCase?.phases?.length}}</span>
                </h5>
              </div><!--end col-->
              <div class="col-lg-auto">
                <button type="submit" class="btn btn-outline-primary rounded-pill col-auto ms-auto"
                  id="create-contact-btn" (click)="openAddPhaseModal()">Create New Phase
                </button>
              </div><!--end col-->
            </div><!--end row-->

            <app-phases />

          </div>


          <div [hidden]="currentTab !== 'invoices'" class="tab-pane active" id="invoices" role="tabpanel">
            <div class="row align-items-center mb-4 g-3">
              <div class="col-xxl-2 col-lg-4 col-sm-6 ms-2 me-auto">
                <h5 class="mb-0">Invoices <span
                    class="badge bg-secondary-subtle text-secondary align-middle ms-1">{{invoices?.length}}</span>
                </h5>
              </div><!--end col-->


              @if(invoices.length == 0){
              <div class="container">
                <div class="row d-flex justify-content-center">
                  <h3 class="col-12 text-muted text-center mt-3">No Phases Found</h3>
                  <img class=" col-2 img-fluid" src="assets/images/no-data.jpg" alt="" style="transform: scale(1.1);">
                </div>
              </div>
              } @else {
              <div class="container table-responsive table-card mt-3">
                <table class="table table-centered align-middle table-custom-effect table-nowrap mb-0">
                  <thead class="table-light">
                    <tr>
                      <th>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="checkAll" [(ngModel)]="masterSelected"
                            (change)="checkUncheckAll($event)">
                          <label class="form-check-label" for="checkAll"></label>
                        </div>
                      </th>
                      <th scope="col" class="sort cursor-pointer" (click)="onSort('invoice_no')">ID</th>
                      <th scope="col" class="sort cursor-pointer" (click)="onSort('customer')">Customer Name
                      </th>
                      <th scope="col" class="sort cursor-pointer" (click)="onSort('email')">Email</th>
                      <th scope="col" class="sort cursor-pointer" (click)="onSort('createDate')">Create Date
                      </th>
                      <th scope="col" class="sort cursor-pointer" (click)="onSort('dueDate')">Due Date</th>
                      <th scope="col" class="sort cursor-pointer" (click)="onSort('invoice_amount')">Amount
                      </th>
                      <th scope="col" class="sort cursor-pointer" (click)="onSort('status')">Status</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody class="list form-check-all" id="invoice-list-data">
                    @for (data of invoices; track $index) {
                    <tr id="l_{{data._id}}">
                      <td>
                        <div class="form-check"> <input class="form-check-input" type="checkbox" name="checkAll"
                            value="{{data._id}}" [(ngModel)]="data.states" (change)="onCheckboxChange($event)"> <label
                            class="form-check-label"></label> </div>
                      </td>
                      <td class="invoice_id"><a routerLink="/invoices/overview">{{data.invoiceNumber}}</a>
                      </td>
                      <td class="customer_name">{{data.concernedCase.contacts[0].firstName}}
                        {{data.concernedCase.contacts[0].lastName}}</td>
                      <td class="email">{{data.concernedCase.contacts[0].email}}</td>
                      <td class="create_date">{{data.creationDate | date}}</td>
                      <td class="due_date">{{data.dueDate | date}}</td>
                      <td class="amount">{{data.totalAmount | number:'1.2-2'}} TND</td>
                      <td class="status"><span class="badge"
                          [ngClass]="{'bg-success-subtle text-success':data.status == 'Paid','bg-danger-subtle text-danger':data.status === 'Unpaid' || data.status === 'Refund','bg-warning-subtle text-warning':data.status ==='Pending'}">{{data.status}}</span>
                      </td>
                      <td>
                        <ul class="d-flex gap-2 list-unstyled mb-0">
                          <li><a href="javascript:void(0);" class="btn btn-subtle-primary btn-icon btn-sm"
                              routerLink="/invoices/overview/{{data.id}}" data-view-id="24301901"><i
                                class="ph-eye"></i></a> </li>
                          <!-- <li><a href="javascript:void(0);" class="btn btn-subtle-secondary btn-icon btn-sm" routerLink="/invoices/create" data-edit-id="24301901"><i class="ph-pencil"></i></a> </li> -->
                          <li><a href="javascript:void(0);" (click)="removeItem(data.id)"
                              class="btn btn-subtle-danger btn-icon btn-sm remove-item-btn"><i class="ph-trash"></i></a>
                          </li>
                        </ul>
                      </td>
                    </tr>
                    }
                  </tbody><!-- end tbody -->
                </table><!-- end table -->
              </div><!-- end table-responsive -->
              }
            </div><!--end row-->

          </div>
        </div>
      </div>

    </div><!--end col-->

  </div><!--end row-->
  }


</div>


<!-- Modal -->
<div bsModal #addPhase="bs-modal" class="modal fade modal-lg" id="addPhase">
  <div class="modal-dialog">
    <div class="modal-content border-0">
      <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="addContactModalLabel">{{ action }} Phase</h5>
        <button type="button" class="btn-close" (click)="addPhase.hide()"></button>
      </div>

      <form (ngSubmit)="savePhase()" [formGroup]="PhaseForm" class="tablelist-form" novalidate autocomplete="off">
        <div class="modal-body">
          <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>
          <input type="hidden" id="id-field">
          <input type="hidden" id="rating-field">
          <div class="row">
            <div>

              <div class="mb-3">
                <label class="form-label" for="steparrow-gen-info-name-input">Name <span class="text-danger">
                    *</span></label>
                <div class="mb-3">
                  <input type="text" class="form-control" id="steparrow-gen-info-name-input" placeholder="Name"
                    [ngClass]="{'border-danger': formValue['name'].errors && formValue['name'].dirty,'form-control': true}"
                    formControlName="name">
                  @if (formValue['name'].errors && formValue['name'].dirty) {
                  @if (formValue['name'].errors!['required']) {
                  <span class="text-danger col-12">Name is required</span>
                  }
                  }

                </div>

              </div>


              <div class="mb-3">
                <label class="form-label" for="steparrow-gen-info-confirm-startDate-input">Start Date <span
                    class="text-danger"> *</span></label>

                <input type="date" class="form-control" id="steparrow-gen-info-confirm-startDate-input" mwlFlatpickr
                  [altInput]="true" altFormat="Y/m/d" dateFormat="Y/m/d"
                  [ngClass]="{'border-danger': formValue['startDate'].errors && formValue['startDate'].dirty, 'form-control': true}"
                  formControlName="startDate" placeholder="Enter Start Date">

                @if (formValue['startDate'].errors && formValue['startDate'].dirty) {
                @if (formValue['startDate'].errors!['required']) {
                <span class="text-danger col-12">Start Date is required</span>
                }
                }

              </div>


              <div class="mb-3">
                <label class="form-label" for="steparrow-gen-info-confirm-endDate-input">End Date <span
                    class="text-muted">(Not required)</span> </label>

                <input type="date" class="form-control" id="steparrow-gen-info-confirm-startDate-input" mwlFlatpickr
                  [altInput]="true" altFormat="Y/m/d" dateFormat="Y/m/d"
                  [ngClass]="{'border-danger': formValue['endDate'].errors && formValue['endDate'].dirty, 'form-control': true}"
                  formControlName="endDate" placeholder="Enter End Date">

                @if (formValue['endDate'].errors && formValue['endDate'].dirty) {
                @if (formValue['endDate'].errors!['required']) {
                <span class="text-danger col-12">End Date is required</span>
                }
                }

              </div>


              <div class="mb-3">
                <label class="form-label" for="steparrow-gen-info-description-input">Description <span
                    class="text-danger">
                    *</span></label>
                <div class="mb-3">
                  <textarea type="text" class="form-control" id="steparrow-gen-info-description-input"
                    placeholder="Description"
                    [ngClass]="{'border-danger': formValue['description'].errors && formValue['description'].dirty,'form-control': true}"
                    formControlName="description"> </textarea>
                  @if (formValue['description'].errors && formValue['description'].dirty) {
                  @if (formValue['description'].errors!['required']) {
                  <span class="text-danger col-12">Description is required</span>
                  }
                  }

                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="hstack gap-2 justify-content-end">
            <button type="button" class="btn btn-ghost-danger" (click)="addPhase.hide()"><i
                class="bi bi-x-lg align-baseline me-1"></i> Close
            </button>
            <button type="submit" class="btn btn-primary" id="add-btn">{{ action }} Phase</button>
          </div>
        </div>
      </form>

    </div>
    <!-- modal-content -->
  </div>
</div><!--end modal-->