
#case-preloader {

  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  display: flex;
  align-items: center;
}

#case-status-loader {
  text-align: center;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: 0.3rem;
}

#case-status-loader p {
  font-weight: 500;
  font-size: 1rem;
}

.custom-card{
  
}
