<!-- Start Breadcrumbs -->
<!-- <app-breadcrumbs title="Invoice Overview" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs> -->
<!-- End Breadcrumbs -->

<div class="row justify-content-center">
    <div class="col-xxl-9">
        <div class="hstack gap-2 justify-content-end d-print-none mb-4">
            <a href="javascript:window.print()" class="btn btn-success"><i class="ri-printer-line align-bottom me-1"></i> Print</a>
            <button type="button" id="download-button" class="btn btn-primary"><i class="ri-download-2-line align-bottom me-1"></i> Download</button>
        </div>
        <div class="card overflow-hidden" id="invoice">
            <div class="invoice-effect-top position-absolute start-0">
                <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 764 182" width="764" height="182">
                    <title>&lt;Group&gt;</title>
                    <g id="&lt;Group&gt;">
                        <g id="&lt;Group&gt;">
                            <path id="&lt;Path&gt;" style="fill: var(--tb-light);" d="m-6.6 177.4c17.5 0.1 35.1 0 52.8-0.4 286.8-6.6 537.6-77.8 700.3-184.6h-753.1z" />
                        </g>
                        <g id="&lt;Group&gt;">
                            <path id="&lt;Path&gt;" style="fill: var(--tb-secondary);" d="m-6.6 132.8c43.5 2.1 87.9 2.7 132.9 1.7 246.9-5.6 467.1-59.2 627.4-142.1h-760.3z" />
                        </g>
                        <g id="&lt;Group&gt;" style="opacity: .5">
                            <path id="&lt;Path&gt;" style="fill: var(--tb-primary);" d="m-6.6 87.2c73.2 7.4 149.3 10.6 227.3 8.8 206.2-4.7 393.8-42.8 543.5-103.6h-770.8z" />
                        </g>
                    </g>
                </svg>
            </div>
            <div class="card-body z-1 position-relative">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <img src="assets/images/logo-light.png" class="card-logo" alt="logo light" height="28">
                    </div>
                    <div class="flex-shrink-0 mt-sm-0 mt-3">
                        <h6><span class="text-muted fw-normal">Email:</span> <span id="email"> {{invoiceData?.companyEmail}} </span></h6>
                        <h6><span class="text-muted fw-normal">Adresse:</span> <a href="https://themesbrand.com/" class="link-primary" target="_blank" id="website">{{invoiceData?.companyAddress}}</a></h6>
                        <h6 class="mb-0"><span class="text-muted fw-normal">Contact No: </span><span id="contact-no">{{invoiceData?.companyPhoneNumber}}</span></h6>
                    </div>
                </div>
                <div class="mt-5 pt-4">
                    <div class="row g-3">
                        <div class="col-lg col-6">
                            <p class="text-muted mb-2 text-uppercase">Invoice No</p>
                            <h5 class="fs-md mb-0"><span id="invoice-no">{{invoiceData?.invoiceNumber}}</span></h5>
                        </div>
                        <!--end col-->
                        <div class="col-lg col-6">
                            <p class="text-muted mb-2 text-uppercase">Date</p>
                            <h5 class="fs-md mb-0"><span id="invoice-date">{{ invoiceData?.creationDate | date }}</span></h5>
                        </div>
                        <div class="col-lg col-6">
                            <p class="text-muted mb-2 text-uppercase">Due Date</p>
                            <h5 class="fs-md mb-0"><span id="invoice-due-date">{{ invoiceData?.dueDate | date }}</span></h5>
                        </div>
                        <!--end col-->
                        
                        @if (invoiceData?.status == "Paid") {
                            <div class="col-lg col-6">
                                <p class="text-muted mb-2 text-uppercase">Payment Status</p>
                                <span class="badge bg-success-subtle text-success fs-xxs" id="payment-status">Paid</span>
                            </div>
                        }

                        @if (invoiceData?.status !== "Paid") {
                            <div class="col-lg col-6">
                                <p class="text-muted mb-2 text-uppercase">Payment Status</p>
                                <span class="badge bg-danger-subtle text-danger fs-xxs" id="payment-status">Unpaid</span>
                            </div>
                        }

                        <!--end col-->
                        <div class="col-lg col-6">
                            <p class="text-muted mb-2 text-uppercase">Total Amount</p>
                            <h5 class="fs-md mb-0">$<span id="total-amount">{{invoiceData?.totalAmount}}</span></h5>
                        </div>
                        <!--end col-->
                    </div><!--end row-->
                </div>
                <div class="mt-4 pt-2">
                    <div class="row g-3">
                        <div class="col-6">
                            <p class="text-muted text-uppercase">Client details</p>
                            <h6 class="fs-md" id="billing-name">{{invoiceData?.concernedCase.contacts[0].firstName}} {{invoiceData?.concernedCase.contacts[0].lastName}}</h6>
                            <p class="text-muted mb-1" id="billing-address-line-1">{{invoiceData?.concernedCase.contacts[0].address}}</p>
                            <p class="text-muted mb-0"><span>Email: </span><span id="billing-tax-no">{{invoiceData?.concernedCase.contacts[0].email}}</span> </p>
                            <p class="text-muted mb-1"><span>Phone: +</span><span id="billing-phone-no">{{invoiceData?.concernedCase.contacts[0].phoneNumber}}</span></p>
                        </div>
                    </div><!--end row-->
                </div>
                <div class="table-responsive mt-4">
                    <table class="table table-borderless text-center table-nowrap align-middle mb-0">
                        <thead>
                            <tr class="table-light">
                                <th scope="col" style="width: 50px;"></th>
                                <th scope="col">Service Details	</th>
                                <th scope="col">Rate (TND) </th>
                                <th scope="col">Hours</th>
                                <th scope="col" class="text-end">Amount</th>
                            </tr>
                        </thead>
                        <tbody id="products-list">
                            @for (item of invoiceData?.invoiceServices; track $index) {
                            <tr>
                                <th scope="row">01</th>
                                <td class="text-start">
                                    <span class="fw-medium">{{item?.activity}}</span>
                                    <p class="text-muted mb-0">{{item?.description}}</p>
                                </td>
                                <td>{{item?.rate}} TND</td>
                                <td>{{item?.hours}} hours</td>
                                <td class="text-end">{{item?.amount}} TND</td>
                            </tr>
                        }
                        </tbody>
                    </table><!--end table-->
                </div>
                <div class="border-top border-top-dashed mt-2" id="products-list-total">
                    <table class="table table-borderless table-nowrap align-middle mb-0 ms-auto" style="width:250px">
                        <tbody>
                            <tr>
                                <td>Sub Total</td>
                                <td class="text-end">{{invoiceData?.totalAmount * 0.82}}</td>
                            </tr>
                            <tr>
                                <td>Estimated Tax <small class="text-muted">(18%)</small></td>
                                <td class="text-end">{{invoiceData?.totalAmount * 0.18}}</td>
                            </tr>
                            <tr class="border-top border-top-dashed fs-base">
                                <th scope="row">Total Amount</th>
                                <th class="text-end">{{invoiceData?.totalAmount}}</th>
                            </tr>
                        </tbody>
                    </table>
                    <!--end table-->
                </div>
                <div class="mt-3">
                    <h6 class="text-muted text-uppercase fw-semibold mb-3">Payment Details:</h6>
                    <p class="text-muted mb-1">Payment Method: <span class="fw-medium"
                            id="payment-method">Cash</span></p>
                    <p class="text-muted mb-1">Client : <span class="fw-medium" id="card-holder-name">
                        {{invoiceData?.concernedCase.contacts[0].firstName}} {{invoiceData?.concernedCase.contacts[0].lastName}}
                    </span></p>
                    <p class="text-muted mb-0">Total Amount: <span
                            id="card-total-amount">{{invoiceData?.totalAmount}}</span> <span class="fw-medium"> TND</span></p>
                </div>

                <div class="mt-4 mb-4">
                    <div class="pt-2 mt-4">
                        <input type="text" class="form-control" id="successMsg" placeholder="Enter Postal Code"
                            value="Thank you for entrusting us with your legal needs. It has been our privilege to assist you, and we look forward to serving you again in the future." required>
                    </div>
                </div>
                <div>
                    <div class="invoice-signature text-center">
                        <img src="assets/images/invoice-signature.svg" alt="" id="sign-img" height="30">
                        <h6 class="mb-0 mt-3">Authorized Sign</h6>
                    </div>
                </div>
            </div>
            <div class="invoice-effect-top position-absolute end-0" style="transform: rotate(180deg); bottom: -80px;">
                <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 764 182" width="764" height="182">
                    <title>&lt;Group&gt;</title>
                    <g id="&lt;Group&gt;">
                        <g id="&lt;Group&gt;">
                            <path id="&lt;Path&gt;" style="fill: var(--tb-light);" d="m-6.6 177.4c17.5 0.1 35.1 0 52.8-0.4 286.8-6.6 537.6-77.8 700.3-184.6h-753.1z" />
                        </g>
                        <g id="&lt;Group&gt;">
                            <path id="&lt;Path&gt;" style="fill: var(--tb-secondary);" d="m-6.6 132.8c43.5 2.1 87.9 2.7 132.9 1.7 246.9-5.6 467.1-59.2 627.4-142.1h-760.3z" />
                        </g>
                        <g id="&lt;Group&gt;" style="opacity: .5">
                            <path id="&lt;Path&gt;" style="fill: var(--tb-primary);" d="m-6.6 87.2c73.2 7.4 149.3 10.6 227.3 8.8 206.2-4.7 393.8-42.8 543.5-103.6h-770.8z" />
                        </g>
                    </g>
                </svg>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div>