.file-input {
  display: none;
}

.dropzone {
  text-align: center;
  cursor: pointer;
/*
  border-radius: 100% !important;
  height: 25vh;
  width: 25vh;

 */
  color: #8e8e8e;
}

.cs{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}






